# ── Terraform ─────────────────────────────────────────────────
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ── Variáveis sensíveis ───────────────────────────────────────
*.tfvars
*.tfvars.json
.env

# ── OS ────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── IDE ───────────────────────────────────────────────────────
.idea/
.vscode/
*.swp
*.swo